.navbar-lewagon {
  justify-content: space-between;
  background: rgb(157, 35, 210);
  color: yellow;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
