<div class="navbar-lewagon d-flex justify-content-between mb-3 p-3">
  <h2>New Playlist</h2>
  <%= link_to playlists_path do  %>
  <button class="btn btn-info">Back</button>
  <% end %>
</div>


<div class="container">
  <%= render 'form', playlist: @playlist %>
</div>
